<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>

  <h1><%= title %></h1>
  <form action="/<%= gameid %>/genre-update" method="POST">
    <label for="genres_name">Genre Name: </label>
    <input type="text" name="genres_name" id="genres_name" required><br>
    <label for="genres_id">Genres ID: </label>
    <input type="number" name="genres_id" id="genres_id" required><br>
    <button type="submit">Update User</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>