<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <h2>Categories</h2>

<div>
  <li><a href="/gameList">Game List</a></li>
  <li><a href="/game">Add a game</a></li>
</div><br>
  
<div>
  <li><a href="/reviewList">Review List</a></li>
  <li><a href="/review">Add a review</a></li>
</div><br>

<div>
  <li><a href="/publisherList">Publisher List</a></li>
  <li><a href="/publisher">Add a publisher</a></li>
</div><br>

<div>
  <li><a href="/genreList">Genre List</a></li>
  <li><a href="/genre">Add a genre</a></li>
</div>

  
</body>
</html>
