<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>

  <h1><%= title %></h1>
  <form action="/<%= gameid %>/publisher-update" method="POST">
    <label for="publisher_name">Publisher Name: </label>
    <input type="text" name="publisher_name" id="publisher_name" required><br>
    <label for="publisher_id">Publisher ID: </label>
    <input type="number" name="publisher_id" id="publisher_id" required><br>
    <button type="submit">Update User</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>

