<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1><br>

  <h3>Create Review</h3>
  <form action="/review" method="POST">
    <label for="game_id">Game_ID: </label>
    <input type="number" name="game_id" id="game_id" required>
    <br><label for="rating">Rating: </label>
    <input type="number" name="rating" id="rating" required>
    <br><button type="submit">Submit</button>
  </form>

  <a href="/">Back to home</a>
</body>
</html>